<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1, user-scalable=no"/>
    <title>Email Template Generator - Example template</title>
    <!-- inject:css -->
    <!-- built css files will go here... -->
    <!-- endinject -->
  </head>
    <body>
      <table class="body">
        <tr>
          <td class="center">
            <h1>Allo!</h1>
          </td>
        </tr>
        <tr>
          <td>
            <h2>From Email Template Generator</h2>
          </td>
        </tr>
        <tr>
          <td class="right">
            <a href="https://github.com/andreasonny83/email-template-generator/#readme">
              <span>Get Started</span>
            </a>
          </td>
        </tr>
      </table>
    </body>
  </html>
